body {
    position: absolute;
    align-items: center;
    justify-content: center;
}

.image {
    height: 900px;
    top:0px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.win-text {
    position: absolute;
    top: 200px;
    left: 30px; 
    margin: auto;
    font-size: 300%;
    padding:10px;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 2;
}

.box {
    height: 95vh;
    width: 95vw;
    display: flex;
    margin: auto;
}

.difficulty {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.text {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
}

.text:hover {
    background-color: brown;
    cursor: pointer;
}

.troll {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}