@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    background-color: rgb(17, 17, 17);
}

body.dark {
    background-color: rgb(17, 17, 17);
    animation-duration: 0.3s;
    animation-name: light-dark;
}

body.light {
    background-color: white;
    animation-duration: 0.3s;
    animation-name: dark-light;
}

p.light{
    background: url(obsidian.jpg) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    /* animation-duration: 1s;
    animation-name: text-light; */
}

a.light {
    background: url(obsidian.jpg) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    filter: hue-rotate(-90deg);
}

p.dark {
    background: url(wood.jpg) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    /* animation-duration: 3s;
    animation-name: text-dark; */
}

@keyframes dark-light {
    from {background-color: rgb(17, 17, 17);}
    to {background-color: white;}
}

@keyframes light-dark { 
    from {background-color: white;}
    to {background-color:rgb(17, 17, 17);}
}

html, body {
    height: 100%; overflow: hidden
}

p, li{
    background: url(wood.jpg) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
}

* {
    font-size: 100%;
    font-family: 'Pixelify Sans', sans-serif, monospace;
   }

ul, li::before{
    content: "- ";
    filter: hue-rotate(90deg);
    filter: brightness(150%);
}

#center {
    text-wrap: wrap;
    padding-top: 60px;
    text-align: left;
    margin: auto;
    width: 500px;
    justify-content: center;
    align-items: center;
}

iframe {
    height: "100%";
    width: "500px"
}

#moon, #sun {
    cursor: pointer;
    right:0;
    padding:10px;
    margin:0;
}

